.contact-container {
    display: flex;
    flex-direction: column;
    gap: 0;
}
.contact-button {
    margin: 0;
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: left;
}

.contact-button:hover {
    background-color: black;
    border-radius: 20px;
}

.message-container {
    border-radius: 10px;
    display: flex;
    width: fit-content;
    padding: 0.1em 0.5rem;
    background-color: rgb(38,39,48);
    margin-top: 1em;
}

.left-align {
    display: flex;
    justify-content: flex-start;
}
.right-align {
    display: flex;
    justify-content: flex-end;
}